<div class="content">
    <h1>สมุดรายวัน</h1>
    <div class="row pl-1 pr-1 pt-2">
        <div class="col-3">
            <form *ngIf="!loading" [formGroup]="searchForm">
                <select class="form-select" formControlName="year" placeholder="Year" (change)="search()">
                    <option *ngFor="let year of years" [value]="year">
                        {{year}}
                    </option>
                </select>
            </form>
        </div>
        <div class="col-9">
            <button routerLink="add" class="btn btn-sm btn-success mb-2 ml-auto d-flex align-items-center">
                <mat-icon>add</mat-icon>
                Add
            </button>
        </div>
    </div>
    <p-table #dt [columns]="cols" [value]="daybooks" dataKey="id" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        styleClass="p-datatable-account p-datatable-gridlines">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="min-width: 14rem">
                    <div class="flex justify-content-between align-items-center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                        <p-columnFilter type="text" [field]="col.field" display="menu" class="ml-auto"></p-columnFilter>
                    </div>
                </th>
                <th class="text-center">...</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-daybook let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    <ng-container *ngIf="!col.date">
                        {{getValue(daybook, col.field)}}
                    </ng-container>
                </td>
                <td style="white-space: nowrap">
                    <button (click)="downloadDaybook(daybook)" class="btn btn-sm btn-success me-1"
                        [disabled]="isDownloading">
                        <span *ngIf="isDownloading" class="spinner-border spinner-border-sm"></span>
                        Download
                    </button>
                    <a routerLink="edit/{{daybook.id}}" class="btn btn-sm btn-primary me-1">Edit</a>
                    <button (click)="deleteDaybook(daybook.id)" class="btn btn-sm btn-danger" [disabled]="isDeleting">
                        <span *ngIf="isDeleting" class="spinner-border spinner-border-sm"></span>
                        Delete
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No record found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>