<div class="content">
    <h1>{{title}}</h1>
    <mat-card>
        <mat-card-content>
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Number</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="number" placeholder="Number" required />
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Invoice</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="invoice" placeholder="Invoice" required />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Transaction Date</b>
                        </label>
                        <p>
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="transactionDate" placeholder="Transaction Date"
                                    [matDatepicker]="picker">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </p>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Document</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <mat-select formControlName="document" placeholder="Document" #docSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholder="Document" placeholderLabel="Search"
                                        [formControl]="docFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let e of filteredDocs | async" [value]="e.id">
                                    {{e.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div *ngIf="documentType === 'PAY'" class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Supplier</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <mat-select formControlName="supplier" placeholder="Supplier" #supplierSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholder="Supplier" placeholderLabel="Search"
                                        [formControl]="supplierFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let e of filteredSuppliers | async" [value]="e.id">
                                    {{e.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="documentType === 'REC'" class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Customer</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <mat-select formControlName="customer" placeholder="Customer" #customerSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholder="Customer" placeholderLabel="Search"
                                        [formControl]="customerFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let e of filteredCustomers | async" [value]="e.id">
                                    {{e.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Payment Method</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <mat-select formControlName="paymentMethod" placeholder="PaymentMethod"
                                #paymentMethodSelect>
                                <mat-option>
                                    <ngx-mat-select-search placeholder="PaymentMethod" placeholderLabel="Search"
                                        [formControl]="paymentMethodFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let e of filteredPaymentMethods | async" [value]="e.id">
                                    {{e.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-3">
                    <button [disabled]="submitting" class="btn btn-primary">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                        Save
                    </button>
                    <a routerLink="/daybook" class="btn btn-link">Cancel</a>
                </div>
            </form>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
        </mat-card-content>
    </mat-card>
</div>