<div class="content">
    <h1>{{title}}</h1>
    <mat-card>
        <mat-card-content>
            <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>First Name</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="firstName" placeholder="First Name" />
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Last Name</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="lastName" placeholder="Last Name" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Username</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="username" placeholder="User Name" />
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col-lg-6 col-md-12 col-sm-12">
                        <label class="form-label">
                            <b>Email</b>
                        </label>
                        <mat-form-field appearance="fill">
                            <input matInput formControlName="email" placeholder="Email" />
                        </mat-form-field>
                    </div>
                </div>
                <div class="mt-3">
                    <button [disabled]="submitting" class="btn btn-primary">
                        <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
                        Save
                    </button>
                    <a routerLink="/user" class="btn btn-link">Cancel</a>
                </div>
            </form>
            <div *ngIf="loading" class="text-center m-5">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </div>
        </mat-card-content>
    </mat-card>
</div>