<div class="row top-box">
    <div class="col-6 mt-2" style="padding-left: 5%;vertical-align: middle;">
        <!-- <img width="50px" src="assets/images/logo_nbtc.png"> -->
        <!-- <span style="margin-left: 15px;font-size: 22px;"><b>ระบบเบิกจ่ายเงินทดรอง</b></span> -->
    </div>
    <!-- <div class="col-6 text-right">
        <div class="text-bold">
            <label>{{fullName}}</label>
        </div>
        <div class="text-bold">
            <label>{{positionName}}</label>
        </div>
    </div> -->
</div>